.container {
    max-width:35em;
    margin:0 auto;
    text-align:center;
    position:relative;
}


.container header {
 background-image:url("http://lorempixel.com/output/abstract-q-c-900-530-3.jpg"); 
 max-width:90%;
 color:white;
 border:solid;
 margin:0 auto;
 text-align:center;s
 position:relative;
 
}

header ul {
    padding-left:0;
    
}

 .navbar {
    margin:0 auto;
    text-align: center;
    color: white;
}

/*  .icon {
    height:auto;
    width:auto;
    max-width:50px;
    max-height:50px;
    position:relative;
    text-align:center;
    z-index: 1;
    }
removed the call to the wave icon bc the style in the html may be interfering with the css rendering */

a {
    color:white;
    text-decoration: none;
} /* want to figure out to which element this declaration applies */

.page-heading {
    text-align: center;
    margin: 0 auto;
    color: white; 
}

.mainContent span {
    text-align: center;
}

.mainContent article {
    text-align:center;
    max-width:80%;
    padding-left:8%;
    
}

.mainContent ul {
    text-align: center;
    padding-right:7%;
}

.mainContent blockquote{
    color:turquoise;
    display:block;
    font-size:large;
    padding-left:0;
    position:relative;
}

/* white border around each image in footer  */
.pageFooter {
    margin:0 auto;
    padding-left:0;
    padding-right:15%;
}

.pageFooter ol {
    text-align:center;
    color:grey;
    position:relative;
}

.pageFooter figure {
    text-align:center;
    color:grey;
    position:relative;
}

.tiylogo{
    position:relative;
    text-align:center;
    padding-top:5%;
    padding-right:23%

}

